*{
    box-sizing: border-box;
}
h1, h2, h3{
    font-family: 'Lobster Two', cursive, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #57ECB4;
}
h2{
    color: #978571;
    font-size: 28px;
}
h3{
    color: #ECB457;
    font-size: 28px;
}

/*Navigation Bar*/
.menu ul{
    background: #ECB457;
}
/*Margin Images/Content*/
body{
    background: url(images/background.png) fixed #fbfaf7;
    font-family: 'Cabin', arial, sans-serif;
    color: #978571;
    font-weight: bold;
}


/*Footer/Contact*/
footer {
    background: #ECB457;
}